* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  width: 1500px;
  padding: 0;
  margin: 0;

}

.main {
  background: radial-gradient(100% 100% at 46.86% 0%, #FD749B 0%, #281AC8 100%);
}

.container {}

.main-top {
  margin-top: -100px;
}

.main-buble-top {
  margin-top: 48px;
  margin-left: 161px;
}

.promo {
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-title {
  width: 327px;
  height: 84px;
  margin-bottom: 65px;
}

.promo-title-text {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.promo-separator {
  width: 50px;
  height: 0px;
  border: 7px solid #FD749B;
  margin-bottom: 45px;
}

.promo-subtitle {}

.promo-subtitle-text {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
}

.comment-buble {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-content {
  position: relative;
  left: 770px;
  top: -180px;
  width: 410px;
  height: 117px;
  background: #c4c4c4cf;
  border-radius: 15px;
}

.comment-content::after,
.comment-content::before {
  content: '';
  position: absolute;
  top: 40px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 25px solid #c4c4c489;
  border-bottom: 20px solid transparent;
}


.comment-content-item {
  display: flex;
}

.comment-content-name {
  margin: 17px 220px 6px 26px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.comment-content-bitcoin {
  width: 24px;
  height: 24px;
  margin-top: 17px;
}

.comment-content-star {
  margin-left: 26px;
  margin-bottom: 7px;
}

.comment-content-comment {
  margin-top: 0;
  margin-left: 26px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.main-buble-bottom {
  position: relative;
  left: 630px;
  top: -70px;
}

.main-bottom {}
